.titles-container{
    height: 20vh;
    margin: 0 auto;
    user-select: none;
    text-align: center;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    padding: 2rem;
    font-weight: bold;
}

.fade_line_oc {
    height: 1px;
    background-color: #3b3434;
    width: 45%;
    margin: 0 auto;
    background-image: linear-gradient(to left , white 2%, #313131 50%, white 98%);
    position: relative;
}

.line-oc {
    background-color: #ffffff;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 49%;
    margin-top: -10px;
}

.text{
    font-style: italic;
    padding: 1rem;
}

.cards-container-oc{
    background-color: #ffffff;
    height: auto;
    padding: 0 1rem;
    margin: 0 auto;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_card {
    text-align: center;
    color: #000;
    background-size: 200% auto;
    background: linear-gradient(to right, #00ceff, #3629a2, #00ceff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-text 20s linear infinite;
    animation-fill-mode: forwards;
    padding: 1.5em;
}

@keyframes gradient-text {
    0% {
        background-position: 0 1600px;
    }
    100% {
        background-position: 1600px 0;
    }
}

/*
.title_card_2 {
    text-align: center;
    color: #000;
    background-size: 200% auto;
    background: linear-gradient(to right, #ff9634, #ff0000, #ff9634);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-text 20s linear infinite;
    animation-fill-mode: forwards;
}

.title_card_3 {
    text-align: center;
    color: #000;
    background-size: 200% auto;
    background: linear-gradient(to right, #f1ff34, #00ff00, #f1ff34);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-text 20s linear infinite;
    animation-fill-mode: forwards;
}
*/

.cards {
    display: flex;
    position: relative;
    align-items: flex-end;
    flex-wrap: wrap;
    overflow: hidden;
    max-width: 1024px;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    padding: 1.5rem;
}

.cards>.cards_item {
    flex-grow: 1;
    width: 33%;
}
  
.cards_item {
    padding: 1rem;
    list-style: none;
}
  
.card {
    height: 500px;
    max-width: 1024px;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: rgb(38, 57, 77) 0px 20px 26px -10px;
}

.card_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
	transform: translateY(30px);
    transition: 1s;
}

.card_background:hover + .card_content{
    opacity: 1;
    transform: translateY(0px);
}

.card_content:hover{
    opacity: 1;
    transform: translateY(0px);
}

.card_title {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}

.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-top: 1.25rem; 
    margin-bottom: 1.25rem;    
    font-weight: 400;
}

.card_background {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
  
@media screen and (max-width: 768px){
    .cards{
        display: unset;
    }

    .cards-container{
        height: 100%;
        margin-bottom: 1rem;
    }

    .card_content{
        display: flex;
        opacity: 1;
        transform: none;
    }

    .titles-container{
        display: none;
    }

    .cards-container{
        position: relative;
        margin-top: 0;
    }

    .cards>.cards_item {
        flex-grow: 0;
        width: 100%;
    }
}