.container_khan{
    background: #fff;
    padding: 2rem;
    height: 180vh;
    color: #fff;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img_drop{
    -o-object-fit: scale-down;
    object-fit: scale-down;
    pointer-events: none;
}

.arrow{
    margin-top: 3rem;
    width: 50px;
    height: 50px;
    transform-origin: 50% 50%;
    animation: downarrow 0.8s infinite alternate ease-in-out;
}

@keyframes downarrow {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    5% {
      transform: translateY(-0.1rem);
    }
    100% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }

.subtitulo_video{
    padding: 2em;
    text-align: center;
    color: black;
}

.video_khan{
    width: 80%;
    height: auto;
}

.titulo_khan{
    padding: 1em;
    text-align: center;
    color: black;
    font-size: 48px;
}

.subtitulo_khan{
    padding: 2em;
    text-align: center;
    color: black;
}

.texto_khan{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    text-align: center;
    color: black;
    font-size: 20px;
}

.img-guia{
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

@media screen and (max-width: 768px){
    .container_khan{
        height: auto;
    }

    .titulo_khan{
        font-size: 36px;
        padding: 0;
    }

    .texto_khan{
        max-width: 100%;
        font-size: 16px;
        margin-top: 1em;
    }

    .subtitulo_khan{
        padding: 1em;
    }

    .img_drop{
        width: 360px;
        object-fit: cover;
    }
  
    .arrow{
        margin-top: 1.5rem;
        margin-bottom: 0;
        width: 40px;
        height: 40px;
    }

    .video_khan{
        width: 100%;
        height: auto;
    }
}