.nav{
    background: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    z-index: 100;
    position: relative;
}

.bars{
    display: none;
    color: #fff;
}

@media screen and (max-width: 768px){
    .bars{
        display: block;
        position: absolute;
    }
}